.cart-item-row {
    height: 150px;
    display: flex;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ff4500;
}

.cart-item-row > div {
    margin: 10px;
}

.cart-item-row .title {
    height: 40px;
}

.cart-item-row .value {
    height: 90px;
}

.cart-item-row .cart-item-desc .value {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    height: unset;
}

.cart-item-row .cart-item-image {
    flex: 1 1 200px;
    max-width: 200px;
    max-height: 200px;
}

.cart-item-row .cart-item-name {
    flex: 1 1 300px;
    max-width: 300px;
}

.cart-item-row .cart-item-desc {
    flex: 1 1 500px;
    max-width: 500px;
}

.cart-item-row .cart-item-quantity {
    flex: 1 1 100px;
    max-width: 100px;
}

.cart-item-row .cart-item-price {
    flex: 1 1 200px;
    max-width: 200px;
}

.cart-item-row .cart-item-total-price {
    flex: 1 1 200px;
    max-width: 200px;
}

.cart-item-row .cart-item-action {
    flex: 1 1 200px;
    max-width: 200px;
}

.cart-item-row .cart-item-action button.remove-item {
    box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-item-row .cart-item-action button.remove-item:hover {
    background-color: #eeeeee;
}

.cart-item-row .cart-item-action button.remove-item:active {
    background-color: #eeeeee;
    transform: translateY(1px);
}

.cart-item-row .cart-item-image img {
    max-height: 100%;
    max-width: 100%;
}

.total-amount-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.total-amount-wrapper .title {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .cart-item-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        margin: 20px;
        padding: 20px;
        border: 1px solid #ff4500;
    }

    .cart-item-row > div {
        margin: 10px;
        width: 100%;
    }

    .cart-item-row .title {
        margin: 0 20px;
        height: auto;
        width: 40%;
    }

    .cart-item-row .value {
        margin: 0 20px;
        height: auto;
        width: 60%;
    }

    .cart-item-row .cart-item-image {
        flex: 1 1 100px;
        max-width: 100px;
        max-height: 100px;
    }

    .cart-item-row .cart-item-name {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-desc {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-desc .value {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 37px;
    }
    .cart-item-row .cart-item-quantity {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-price {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-total-price {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-action {
        display: flex;
        max-width: unset;
        justify-content: center;
    }

    .cart-item-row .cart-item-action .title {
        display: none;
    }

    .cart-item-row .cart-item-action .value {
        text-align: center;
    }
}