<div class="shopping-cart-container">
    <ng-container *ngIf="cartItems$ | async as cartItems">
        <div *ngFor="let cartItem of cartItems">
            <div class="cart-item-row">
                <div class="cart-item-image">
                    <img [src]="cartItem.imgUrl" [alt]="cartItem.name" />
                </div>
                <div class="cart-item-name">
                    <div class="title">Product Name</div>
                    <div class="value">{{cartItem.name}}</div>
                </div>
                <div class="cart-item-desc">
                    <div class="title">Short Description</div>
                    <div class="value" [title]="cartItem.description">
                        {{cartItem.description}}
                    </div>
                </div>
                <div class="cart-item-quantity">
                    <div class="title">Qty</div>
                    <div class="value">
                        {{cartItem.quantity}}
                    </div>
                </div>
                <div class="cart-item-price">
                    <div class="title">Price per 1pc</div>
                    <!-- TODO: Use currency pipe -->
                    <div class="value">{{cartItem.price}}</div>
                </div>
                <div class="cart-item-total-price">
                    <div class="title">Line total</div>
                    <!-- TODO: Use currency pipe -->
                    <div class="value">{{ cartItem.total }}$</div>
                </div>
                <div class="cart-item-action">
                    <div class="title"></div>
                    <div class="value">
                        <button type="button" class="remove-item" (click)="updateCart(cartItem, 'removeAll')">
                            Remove Item
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-amount-wrapper">
            <div class="total-amount-section">
                <div class="title">Total amount for payment:</div>
                <div class="value">{{ getTotal(cartItems) }}</div>
            </div>
        </div>
    </ng-container>
</div>