<div class="shopping-cart-container">
    <div *ngFor="let cartItem of cartItems$ | async">
        <div class='product-row'>
            <div class='product-image'>
                <img [src]="cartItem.imgUrl" [alt]="cartItem.name" />
            </div>
            <div class='product-name'>
                <div class='title'>Product Name</div>
                <div class='value'>{{cartItem.name}}</div>
            </div>
            <div class='product-desc'>
                <div class='title'>Short Description</div>
                <div class='value' [title]="cartItem.description">
                    {{cartItem.description}}
                </div>
            </div>
            <div class='product-quantity'>
                <div class='title'>Qty</div>
                <div class='value'>
                    {{cartItem.quantity}}
                </div>
            </div>
            <div class='product-price'>
                <div class='title'>Price per 1pc</div>
                <!-- TODO: Use currency pipe -->
                <div class='value'>{{cartItem.price}}</div>
            </div>
            <div class='product-total-price'>
                <div class='title'>Line total</div>
                <!-- TODO: Use currency pipe -->
                <div class='value'>{{ cartItem.total }}$</div>
            </div>
            <div class='product-action'>
                <div class='title'></div>
                <div class='value'>
                    <button type="button" class='remove-item' (click)="updateCart(cartItem, 'removeAll')">
                        Remove Item
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>