.total-amount-wrapper .title {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .cart-item-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px;
        margin: 20px;
        padding: 20px;
        border: 1px solid #ff4500;
    }

    .cart-item-row > div {
        margin: 10px;
        width: 100%;
    }

    .cart-item-row .title {
        margin: 0 20px;
        height: auto;
        width: 40%;
    }

    .cart-item-row .value {
        margin: 0 20px;
        height: auto;
        width: 60%;
    }

    .cart-item-row .cart-item-image {
        flex: 1 1 100px;
        max-width: 100px;
        max-height: 100px;
    }

    .cart-item-row .cart-item-name {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-desc {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-desc .value {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        height: 37px;
    }
    .cart-item-row .cart-item-quantity {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-price {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-total-price {
        display: flex;
        max-width: unset;
    }

    .cart-item-row .cart-item-action {
        display: flex;
        max-width: unset;
        justify-content: center;
    }

    .cart-item-row .cart-item-action .title {
        display: none;
    }

    .cart-item-row .cart-item-action .value {
        text-align: center;
    }
}